<div id="playlist_item_form" class="<%= @playlist_item.new_record? ? 'new' : 'edit' %>" >
  <div id="error_block" class="error ui-corner-all" style="display: none;"></div>
  <%= semantic_form_for @playlist_item, :html => { :class => (@playlist_item.new_record? ? 'new dd-nodrag' : 'edit dd-nodrag') } do |form| %>
    <ul>
    <%= form.inputs do %>
      <% if @playlist_item.actual_object_type == 'Default' -%>
      <li>
        <label>Url</label>
        <span style="clear:both;"><%= @playlist_item.actual_object.url %></span>
      </li>
      <% end -%>
      <% if @playlist_item.actual_object_type != 'Case' -%>
      <%= form.input :name,  :as => :string, :input_html => {:class => "ui-widget-content ui-corner-all"} %>
      <%= form.input :description, :as => :text,
        :input_html => {:size => '40x5', :class => "ui-widget-content ui-corner-all"},
        :required => false %>
      <% elsif @playlist_item.new_record? -%>
      <li>You may not edit name or description for cases in your playlist.</li>
      <% end -%>
      <% if !@playlist_item.new_record? -%>
        <li class="text">
          <label for="playlist_item_notes">Notes</label>
          <textarea name="playlist_item[notes]" cols="38" rows="5" class="ui-widget-content ui-corner-all"><%= @playlist_item.notes.to_s %></textarea>
        </li>
        <%= form.input :public_notes, :label => 'Are Notes Public?' %>
      <% end -%>

      <%= form.input(:playlist_id, :as => :hidden) %>
      <%= form.input(:position, :as => :hidden) %>
      <%= form.input(:actual_object_type, :as => :hidden) %>
      <%= form.input(:actual_object_id, :as => :hidden) %>
    <% end -%>
    <a href="#" id="playlist_item_submit">SUBMIT</a>
    <a href="#" id="playlist_item_cancel">CANCEL</a>
  <% end -%>
</div>
