<li class="listitem listitem<%= content_error.id %>" data-itemid="<%= content_error.id %>">
	<div class="details">
    <h3>
      <% if content_error.annotated_item_type == 'TextBlock' -%>
      <%= link_to "Text Block: #{content_error.annotated_item.name}", text_block_path(content_error.annotated_item_id) %>
      <%#= link_to 'DELETE', text_block_annotation_path(content_error.annotated_item_id, content_error.id), :class => "icon icon-delete tooltip", "data-type" => "content_error", "data-id" => content_error.id %>
      <% else -%>
      <%= link_to "Annotated Item: #{content_error.annotated_item.name}", collage_path(content_error.annotated_item_id) %>
      <%#= link_to 'DELETE', collage_annotation_path(content_error.annotated_item_id, content_error.id), :class => "icon icon-delete tooltip", "data-type" => "content_error", "data-id" => content_error.id %>
      <% end -%>
    </h3>
    <p>Reported by <%= link_to(content_error.user.display, user_path(content_error.user)) %></p>
    <p class="error"><b>Error:</b> <%= content_error.annotation %></p>
  </div>
	<div class="clear"></div>
</li>
