<div class="standard-form">
    <div class="login-disabled">
        <h2>User login disabled</h2>
        <p>H2O is now set to read-only mode; logging in and editing are no longer possible. All data has been migrated to the new version of H2O; if you haven't already been contacted regarding your data move or are interested in building or using a casebook on H2O, please contact Brett at <a href="mailto:h2o@cyber.law.harvard.edu">h2o@cyber.law.harvard.edu</a></p>
    </div>
  <!-- <h1>Log In</h1>
  <%= form_for @user_session, :url => user_sessions_path, :html => { :class => "formtastic" } do |f| %>
    <% if @user_session.errors.any? -%>
    <div id="error_block"><%= @user_session.errors.full_messages.join(', ') %></div>
    <% end -%>
    <%= f.label :login %>
    <%= f.text_field :login, :class => 'text' %>
    <%= f.label :password %>
    <%= f.password_field :password, :class => 'text' %>
      <div class="remember">
    <%= f.check_box :remember_me %><%= f.label :remember_me %>
      </div>
    <%= f.submit "Login", :class => 'button' %><br />
    <%= link_to "Forgot your password?", new_password_reset_path %>
    <br /><br />
    <%= link_to "If you don't have a login, please register by clicking here.", new_user_path %>
  <% end %> -->
</div>
